@page "/"

<PageTitle>Home</PageTitle>

<h1>ImagePass</h1>


Celem niniejszej pracy inżynierskiej było opracowanie skutecznego rozwiązania, które pomoże użytkownikom uniknąć używania takich samych haseł lub haseł domyślnych do wielu kont a także systemów wbudowanych. Przedstawione narzędzie, pozwoli zainteresowanym łatwo i szybko uzyskać unikalne hasła oraz przechowywać je w postaci deskryptywnych obrazów tworzonych za pomocą generatywnego modelu sztucznej inteligencji.
